ion-content {
    --ion-background-color: linear-gradient(#fceabb, #f8b500);
  }
  ion-item {
    --ion-background-color: transparent!important;
  }
  .padding{
    padding: 5%;
  }
  .flex{
    display: flex;
    justify-content: space-between;
  }
  .logo{
    height: 250px;
    position: relative;
  }
  .logo img{
    position: absolute;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }