.padding{
    padding: 20%;
  }
  .flex{
    display: flex;
    justify-content: space-between;
  }
  .logo{
    height: 10px;
    position: relative;
  }
  .logo img{
    position: absolute;
    height: 100px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }